section{
    display: flex;
    margin-bottom: 7px;
    margin-left: 7px;
    margin-right: 5px;
}
h2{
    margin-left: 7px;
    margin-right: 5px;
}
img{
    height: 350px;
}
h1{
    margin-bottom: 0px;
    font-size: 50px;
    font-style: oblique;
    background-image: linear-gradient(maroon, black );
    color: mintcream;
    padding-left: 10px;
    margin-top: 50px;

}
.A{
    text-align: center;
    font-size: 100px;
    background-image: none;
    color: black;
}

